.menuItem {
  font-size: 24px;
  color: var(--primary-font);
  font-weight: 00;
  white-space: nowrap;
}

.currentLink {
  &:hover {
    text-decoration: none;
  }
}

.currentPath {
  color: var(--black-font);
  border-radius: 56px;
  background-color: var(--light-brown);
}
