.menuItem {
  font-size: 20px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px;
  color: var(--primary-font);
  font-weight: 500;
  font-size: 24px;
  min-width: 15vw;
  @media (max-width: 1023px) {
    width: 70vw;
  }
}

.menuItem:hover,
.currentPath:hover {
  transform: scale(1.1);
}

.currentPath {
  color: var(--black-font);
  border-radius: 56px;
  background-color: var(--light-brown);
  padding-right: 50px;
}

.link {
  font-style: italic;
  text-decoration: none;
}
