.menuItem {
  font-size: 2.2vh;
  padding-bottom: 2vh;
  border: 3px solid var(--black-font);
  width: 70vw;
  max-width: 300px;
  border-radius: 25px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 2vh;
  font-size: 3vh;
  color: var(--primary-font);
  background-color: var(--h2-font);
  font-weight: 700;
}

.menuItem:hover {
  background-color: var(--background-main);
  color: var(--black-font);
  transform: scale(1.1);
}
