.clientQuoteContainer {
  padding: 72px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-start;
  gap: 32px;
  height: 100%;

  @media (max-width: 1023px) {
    padding: 48px;
  }
}

.clientQuotePara {
  font-style: italic;
}

.medium {
  font-weight: 500;
}

.fontFourteen {
  font-size: 14px;
}
