.main {
  display: flex;
  flex-direction: row;

  @media (max-width: 1023px) {
    flex-direction: column-reverse;
  }
}

.imageWrapper {
  position: relative;
  width: 65vw;
  height: 70vh;

  @media (max-width: 1023px) {
    height: 50vh;
    width: 100%;
  }
}

.desktopImage {
  @media (max-width: 1023px) {
    display: none;
  }
}

.mobileImage {
  @media (min-width: 1024px) {
    display: none;
  }
}
