.main {
  overflow: hidden;
  max-width: 100vw;
}

.hamburgerIcon:hover {
  cursor: pointer;
}

.heroFooter {
  position: absolute;
  bottom: 10vh;
  left: 0;
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 120px;
  font-weight: 800;
  font-style: italic;
  padding: 0 40px;

  @media (max-width: 1023px) {
    padding: 0;
    font-size: 110px;
    justify-content: space-around;
    max-width: 100vw;
  }

  @media (max-width: 1023px) {
    max-width: 100vw;
    font-size: 5rem;
    gap: 1vh;
    right: 0;
    flex-direction: column;
    bottom: 2vh;
  }
}

.blue {
  color: var(--blue-font);
  @media (max-width: 1023px) {
    text-align: left;
  }
}

.yellow {
  color: var(--yellow-font);

  @media (max-width: 1023px) {
    text-align: center;
  }
}

.orange {
  color: var(--orange-font);

  @media (max-width: 1023px) {
    text-align: right;
    margin: 0;
    padding: 0;
    padding-right: 2vw;
  }
}

.exerciseTypeTitle {
  @media (max-width: 1023px) {
    width: 80vw;
    height: 6rem;
    box-sizing: border-box;
    overflow: hidden;
    margin: 0;
    white-space: nowrap;
  }
}

.imageWrapper {
  position: relative;

  @media (max-width: 1023px) {
    overflow: hidden;
    max-height: 100vh;
    height: 100vh;
    max-width: 100vw;
    width: 100vw;
  }
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.3);
}

.image {
  height: 100vh;
  width: 100vw;

  @media (max-width: 1023px) {
    height: 105vh;
    width: 105vw;
  }
}

.mobileImage {
  position: relative;
}

@media (max-width: 1023px) {
  .desktopImage {
    display: none;
  }
}

@media (min-width: 1024px) {
  .mobileImage {
    display: none;
  }
}
