.logoLabel {
  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  height: auto;
  color: var(--white-color);

  @media (max-width: 1023px) {
    width: 50vw;
  }
}

.logoName {
  height: auto;
  line-height: 1;

  @media (max-width: 1023px) {
    width: 55vw;
  }
}

.logo {
  width: 30vw;
  max-width: 80vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 0vh;

  @media (max-width: 1023px) {
    width: 50vw;
  }
}
