.aboutMain {
  padding: 24px 0;
  display: flex;
  justify-content: center;
  width: 100vw;
  flex-direction: row;
  min-height: 550px;
}

.imageMain {
  display: flex;
  flex-direction: row;
  justify-content: center;
  gap: 0;
  padding-top: 24px;

  @media (max-width: 1023px) {
    display: none;
  }
}

.imageLayout {
  border-radius: 8px;
  height: 300px;
  width: 200px;
  overflow: hidden;
  z-index: 2;
}

.bottomImage {
  transform: translate(-100px, 150px);
  z-index: 2;
}

.h3New {
  color: var(--gray-color);
  font-weight: 500;
  font-size: 16px;
}

.h2 {
  line-height: 80%;
}

.aboutInfo {
  width: 50vw;

  @media (max-width: 1023px) {
    width: 90vw;
  }
}

.aboutParagraph {
  margin-top: 24px;
  color: var(--black-font);
  display: flex;
  flex-direction: column;
  gap: 10px;
  white-space: pre-wrap;
}

.qualificationsContainer {
  padding-top: 12px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap: 12px;
}
