.aboutMain {
  padding-top: 24px;
  height: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  flex-direction: row;
}

.imageMain {
  height: auto;
  display: flex;
  flex-direction: row;
  gap: 0;
}

.imageLayout {
  border-radius: 8px;
  height: 300px;
  width: 200px;
  overflow: hidden;
  z-index: 2;
}

.bottomImage {
  transform: translate(-100px, 150px);
  z-index: 2;
}

.h3New {
  color: var(--h2-font);
  font-weight: 500;
  font-size: 16px;
}

.h2 {
  line-height: 80%;
}

.aboutParagraph {
  width: 50vw;
  margin-top: 24px;
}
