:root {
  --primary-font: #ffffff;
  --red-font: #ea1f1f;
  --blue-font: #292fe0;
  --black-font: #000000;
  --h2-font: #373e40;
  --background-main: #eeece7;
  --light-gray: #d9d9d9;
  --bar-width: 25px;
  --bar-height: 3px;
  --hamburger-gap: 5px;
  --foreground: var(--primary-font);
  --background: var(--background-main);
  --hamburger-margin: 0.5vh;
  --hamburger-margin-left: 90vw;
  --animation-timing: 200ms ease-in-out;
  --hamburger-height: calc(var(--bar-height) * 3 + var(--hamburger-gap) * 2);
  --x-width: calc(var(--hamburger-height) * 1.41421356237);
}

* {
  padding: 0;
  margin: 0;
  color: var(--primary-font);
  box-sizing: border-box;
}

h1 {
  font-style: normal;
  font-weight: 800;
  font-size: 22px;
}

h2 {
  font-size: 56px;
  color: var(--h2-font);
  font-weight: 800;

  @media (max-width: 1023px) {
    font-size: 40px;
  }
}

p {
  color: var(--black-font);
  font-size: 16px;
  font-weight: 400;
}
