.main {
  position: relative;
  max-width: 100%;
  display: flex;
  flex-direction: column;
  overflow: hidden;
}

@media (max-width: 1022px) {
  .desktop {
    display: none;
  }
}

@media (min-width: 1023px) {
  .mobile {
    display: none;
  }
}
