.QualificationsMain {
  border: 1px solid var(--light-gray);
  border-radius: 28px;
  color: var(--gray-color);
  display: inline-block;
  font-size: 10px;
  text-align: center;
  padding: 5px 10px;
}
