.tagline {
  padding: 30px 20px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.taglinePara {
  width: auto;
}

.paraContainer {
  display: flex;
  flex-direction: column;
}

.h2 {
  margin-bottom: -30px;

  @media (max-width: 768px) {
    margin-bottom: -15px;
  }
}
