.tagline {
  padding: 48px;
  width: 100vw;
  display: flex;
  flex-direction: column;

  @media (max-width: 1023px) {
    padding: 48px 24px 32px 24px;
  }
}

.taglineParagrapgh {
  font-size: 18px;
}

.h2 {
  line-height: 100%;
  margin-bottom: -12px;
}
