.tagline {
  padding: 30px 50px;
  width: 100vw;
  display: flex;
  flex-direction: column;
}

.taglineParagrapgh {
  width: auto;
  font-size: 24px;
}

.paraContainer {
  display: flex;
  flex-direction: column;
}

.h2 {
  line-height: 50%;
}
