.main {
  max-width: 100vw;
  overflow-x: hidden;
  padding-top: 11vh;
}

.footerContainer {
  position: absolute;
  bottom: 0;
}

.formParagraph {
  font-size: 24px;
}

.formContainer {
  padding: 36px;
  display: flex;
  flex-direction: column;

  @media (max-width: 1022px) {
    padding: 12px;
  }
}

.formHeading {
  font-weight: 900;
}
