.main {
  overflow-x: hidden;
  padding-top: 11vh;
}

.formParagraph {
  font-size: 24px;
  width: 55vw;

  @media (max-width: 1022px) {
    padding: 0 12px;
  }
}

.formContainer {
  padding: 36px;
  display: flex;
  flex-direction: column;
  max-width: 100vw;

  @media (max-width: 1022px) {
    padding: 12px 0 0 0;
  }
}

.formHeading {
  font-weight: 900;

  @media (max-width: 1022px) {
    padding: 12px;
  }
}
